body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background: #222;
	background-image: url("https://source.unsplash.com/random/1920×1080/?landscape");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	font-size: 100%;
}

.city {
    font-size: 32px;
}

.date {
    font-size: 16px;
}

.container-temp {
    display: flex;
    justify-content: center;
    font-size: 100px;
    font-weight: 900;
    text-shadow: 3px 6px rgba(0, 0, 0, 0.2);
} 

.weather {
    font-size: 32px;
}

.low-high{
    font-size: 22px;
}